---
import { FontLoader, GlobalCss } from "./bricks";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- og properties -->
    <meta property="og:title" content="iPact Legal" />
    <meta
      property="og:description"
      content="Customized legal solutions tailored to suit your unique requirements"
    />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:url" content="https://www.site.com" /> -->
    <meta property="og:image" content="/og.webp" />
    <!-- <meta property="og:site_name" content="" /> -->

    <!-- others -->
    <meta name="generator" content={Astro.generator} />

    <FontLoader />
    <title>{title}</title>
    <GlobalCss />
  </head>
  <body class="overflow-x-hidden">
    <slot />
  </body>
</html>
